
            <h4>我的相片</h4>
            <div class="photo_tools">
                <p style="display:inline-block;"><span id="books_name"></span>  共有<span id="books_length"></span>张相片</p>
                | <a ng-click="del_show()"  style="cursor:pointer;"> 管理相片</a>
                <div ng-show="photos_show" style="border:1px solid #ccc;margin-left:150px;width:680px;border-radius:5px;">
                    <p style="font-size:12px;color:#ccc;margin-left:30px;margin-bottom:10px;">选择要删除的图片：</p>
                    <ul id="del_list" >

                    </ul>
                    <button ng-click="delPhoto()" style="margin-left:300px;margin-bottom:20px;">确认删除</button>
                </div>
            </div>
            <ul id="photo_list">

            </ul>
